article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {display:block}
* {padding:0; margin:0;}

p {margin:0.5em 80px 0.5em 0;}
ul {margin:0.5em 80px 0.5em 0; padding:0 0 0 1.5em;}
em {font-style:normal; font-weight:bold;}
blockquote {
  display: block;
  margin: 0.5em 80px 0.5em 0;
  padding-left: 12px;
  border-left: 4px solid #ccc;
}

.author {margin:1em 80px 0.5em 0;}

ul.share {
 list-style:none;
 float:left;
 margin: -90px 0 0 -220px;
 padding:0;
}
ul.share li {
 margin:0 4px 0 0;
}

ul.sidelinks {
 margin:60px 40px 0 0;
 padding:0;
 list-style: none;
}
ul.sidelinks li {
 border-top:1px #ccc solid;
 margin:0;
 padding:5px 0;
}

body {
 background:#546666 url(bg_body.gif) repeat-x top left;
 margin:0; padding:0;
 font-size:95%; text-align:center;
}

#container {
 width:780px; margin:10px auto 10px auto;
 color:#3b3730; background:#8f1407;
 font:1.0em/1.5em "Trebuchet MS", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
 text-align:left;
}

header {
 padding:14px 0 14px 40px;
 color:white; background:#8f1407 url(bg_header_rost_red.jpg) no-repeat top left;
}
header h1 {
 font:normal 275% "Trebuchet MS", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
 font-weight:bold; white-space:nowrap;
 letter-spacing:0.05em;
}
header h1 a {color:white; text-decoration:none; font-weight:bold;}
header h1 a:visited {color:white; text-decoration:none;}
header h1 a:hover {color:white; text-decoration:none;}
header h2 {
 margin-top:-0.4em; color:#d8c085; padding-left:0.25em; padding-bottom:0.25em;
 font:normal 80% "Trebuchet MS", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
 font-weight:bold; text-transform:uppercase;
 letter-spacing:0.2em; word-spacing:0.2em; white-space:nowrap;
}

nav ul {
 padding:5px 30px 4px 40px; margin:0 5px;
 color:#520; background:#febe00 url(bg_menu_rost_red.gif) no-repeat top left;
 border-bottom:1px #700 solid;
 font:bold 100% "Trebuchet MS", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
 letter-spacing:0.1em;
}
nav ul li {
 display:inline; white-space:nowrap;
 margin:0 1em 0 0;
}
nav ul li a {color:white; text-decoration:none; font-weight:bold;}
nav ul li a:visited {color:white;}
nav ul li a:hover {color:#940; text-decoration:none;}
nav ul li a:active {color:#b60;}

nav ul li.english {display:inline; padding:0; float:right;}
nav ul li.english a {
 display:block; color:white; text-decoration:none;
 margin-top:3px; height:11px; width:16px;
 text-indent:-9999px;
 background:transparent url(flag.gif) top left no-repeat;
}
nav ul li.english a:hover {
 color:#520;
 background:transparent url(flag.gif) bottom left no-repeat;
}
nav ul li.english a:active {
 color:#940;
 outline:none; border:1px white dotted;
}
nav ul li.english a:focus {
 outline:none; border:1px white dotted;
 background:transparent url(flag.gif) bottom left no-repeat;
}

nav ul li.swedish {display:inline; padding:0; float:right;}
nav ul li.swedish a {
 display:block; color:white; text-decoration:none;
 margin-top:3px; height:11px; width:16px;
 text-indent:-9999px;
 background:transparent url(swedish-flag.png) top left no-repeat;
}
nav ul li.swedish a:hover {
 color:#520;
 background:transparent url(swedish-flag.png) bottom left no-repeat;
}
nav ul li.swedish a:active {
 color:#940;
 outline:none; border:1px white dotted;
}
nav ul li.swedish a:focus {
 outline:none; border:1px white dotted;
 background:transparent url(swedish-flag.png) bottom left no-repeat;
}

nav ul li.this { border-bottom: #700 3px solid; padding-bottom: 2px; }

aside {
 float:left; width:200px; margin: 30px 20px 0 -220px;
 font-size:87.5%; line-height:130%;
}

aside p {margin:0.5em 20px 0.5em 0;}

.pullquote {
  width: 185px;
  background: white url(quote.png) no-repeat top left;
  color: #6b6760; font-size: 150%; line-height:125%;
}

article {margin:0 5px 0 5px; padding:40px 0 60px 260px; background:white;}
article h1 {
 opacity: 1;
 animation: fade-in 2s;
 -moz-animation: fade-in 2s;
 -webkit-animation: fade-in 2s;
 float:left; width:200px; margin:-15px 20px 0 -220px; color:#880000;
 font:italic 150%/130% "Trebuchet MS", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
 font-weight: bold; letter-spacing:0.05em;
}
article h2 {
 padding:0; margin:1.5em 80px 0 0; color:#880000;
 font-weight:bold; font-size:120%; line-height:120%;
}
article h2 a {text-decoration: none; font-weight:bold; font-size:110%;}

a {color:#2b7699; font-weight:bold; text-decoration:none;}
a:visited {color:#8b5679;}
a:hover {text-decoration:underline;}
a:active {color:#a6d6bb;}
a.readmore {
 padding:3px 12px 4px 12px; border:0; border-radius:4px;
 color:white; background:#2b7699;
 font:bold 87.5% "Trebuchet MS", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
 letter-spacing:0.1em;
}
a.readmore:hover {background:#4696b9;text-decoration:none;}
a.readmore:active {color: #2b7699; background:white}

#bg-dead {background:black url(bg-dead.jpg) no-repeat top left; color:#bba;}
#bg-dice {background:black url(bg-dice.jpg) no-repeat top left; color:#ddd;}
#bg-masada {background:white url(bg-masada.jpg) no-repeat top left; color:white;}
#black-flower {background:black url(bg_flower_green.gif) no-repeat bottom right; color:#6c7e7e;}
#black-cards {background:black url(bg-card-shower.jpg) no-repeat bottom left; color:#eeeeee;}
#black-chips {background:black url(bg-poker-chips.jpg) no-repeat bottom right; color:#eeeeee;}
#black {background:black; color:#d1b77a;}
#red-end-mark {color:#880000; font-size:120%;}

footer {
 padding:2px 16px 2px 45px; color:#ddd;
 background:#8f1407 url(bg_footer_rost_red.jpg) no-repeat top left;
 font-size:75%; font-weight:bold; text-align:right;
 clear:both; white-space:nowrap;
}
footer a {color:#ddd; text-decoration:none;}
footer a:visited {color:#ddd; text-decoration:none;}
footer p {padding:0; margin:0;}

.first-cap {
 color:#880000; letter-spacing:0.02em;
 font-weight:normal; font-size:250%;
 text-transform:uppercase;
}
.intro {
 color:#880000; font-weight:bold; font-size:87.5%;
 text-transform:uppercase;
 letter-spacing:0.1em; word-spacing:0.1em;
 
}
span.smaller {font-size:93.75%;}
span.hair-space {font:normal 0.5em/1.0em "Trebuchet MS", "Helvetica Neue", "Helvetica", "Arial", sans-serif;}

img {display:block;}
a img {border:none;}
.image {margin: 1em 0;}
.caption {margin-top:-6px; color:#700; font-style:italic; font-size:87.5%;}
.caption-photo {margin-top:-6px; padding-left:6px; color:#700; font-size:87.5%;}
.caption-alt {margin-top:3px; padding-left:4px; color:#700; font-style:italic; font-size:87.5%;}

.fade {
 opacity: 1;
 animation: fade-in 4s;
 -moz-animation: fade-in 4s;
 -webkit-animation: fade-in 4s;
}
.fade-slowly {
 opacity: 1;
 animation: fade-in 30s;
 -moz-animation: fade-in 30s;
 -webkit-animation: fade-in 30s;
}

@keyframes fade-in {
 from {opacity: 0;}
 to {opacity: 1;}
}
@-moz-keyframes fade-in {
 from {opacity: 0;}
 to {opacity: 1;}
}
@-webkit-keyframes fade-in {
 from {opacity: 0;}
 to {opacity: 1;}
}

.photo {margin:0 0 0.25em 0;}
address {margin:0.25em 0 0.25em 0; font-style:normal;}
.phone {margin:0.5em 0 0.25em 0;}
.email {margin:0.5em 0 0.25em 0;}
.url {margin:0.5em 0 0.25em 0;}

.contactForm {
 width:420px; padding:1.5em 0 1.5em 20px;
 background:#fff8da;
 border-top:0.5em #ffebba solid;
}
.contactForm fieldset {margin:0; padding:0; border:none;}
.contactForm ul {margin:0; padding:0; list-style-type:none;}
.contactForm ul li {clear:both; background:none;}
.contactForm ul label {
 display:block; float:left;
 width:100px; margin:1px 8px 0 0;
 font-size:87.5%; font-weight:normal; text-align:left;
}
.contactForm .txtField {
 width:265px; margin-bottom:0.5em; padding:3px 3px 3px 4px;
 color:#3b3730; background-color:white; border:1px #e9e2d3 solid;
 font:normal 87.5%/125% "Trebuchet MS", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}
.contactForm .txtField:focus {border:1px #d30a0a solid;}
.contactForm .send {
 padding:3px 12px 4px 12px; margin:0 0 0 108px;
 border: 0; border-radius: 4px;
 color:white; background:#bb0000;
 font:bold 87.5% "Trebuchet MS", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
 letter-spacing:0.1em;
}
.contactForm .send:hover {background:#d30a0a;}
.contactForm .send:active {color: #aa0000; background:#ffffff;}
.contactForm .send:focus {background:#d30a0a;}

pre {
 font:100%/125% "Trebuchet MS", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
 white-space:pre-wrap;
 white-space:-moz-pre-wrap !important;
 white-space:-pre-wrap;
 white-space:-o-pre-wrap;
 word-wrap:break-word;
}
.typewriter {
 width:390px; padding:1.5em 20px 2em 20px;
 background:#fff8da;
 border-top:0.5em #ffebba solid
}

div#plusone {float: right; padding-right: 80px;}

@media print {
  .screen-only {display:none;}
  
  .break {page-break-before: always;}
  
  header h1 {
    font:normal 225% "Trebuchet MS", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-weight:bold; word-spacing:-0.2em; white-space:nowrap; color: black;
    margin: -10px 0 4px 0;
  }
  header h1 a {color:black; text-decoration:none; font-weight:bold;}
  header h1 a:visited {color:black; text-decoration:none;}

  nav ul {display: none;}
  footer {display: none;}
}

